@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url(https://db.onlinewebfonts.com/c/119e0176c9899b8b0875ef4b3ef3eeb9?family=Ogg+TRIAL);
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
  }

  li {
    list-style: none;
  }
}

@layer components {
  .bg-forest-responsive {
    background-image: url('/img/forest-mobile.jpg');
  }

  @media (min-width: 640px) {
    .bg-forest-responsive {
      background-image: url('/img/forest-tablet.jpg');
    }
  }

  @media (min-width: 1024px) {
    .bg-forest-responsive {
      background-image: url('/img/forest-desktop.jpg');
    }
  }
}
